<script>
  import { page } from '$app/stores';
</script>

<h1>{$page.status}: {$page.error.message}</h1>

<style>
  /** Don't know why tailwind doesn't work on this page. */
  h1 {
    font-size: 2rem;
    font-weight: bolder;
  }
</style>
