<script>
  import '../app.css';
  import Header from './Header.svelte';

  import { darkMode } from '$lib/stores.js';
  import { onMount } from 'svelte';

  export let data;

  function applyDarkMode() {
    $darkMode
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.remove('dark');
  }
  onMount(() => {
    applyDarkMode();
  });
</script>

<Header />
<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
  <div class="py-10">
    <slot />
  </div>
</div>
