<script>
  import CodeMirror from '$lib/CodeMirror.svelte';
  import { ayuLight } from 'thememirror';
  import { goto } from '$app/navigation';

  let gist_content = '';
  let source_url = '';
  let description = '';
  let error = '';

  // Function to download the file
  async function downloadFile(url) {
    const regex = /^https:\/\/github\.com\/(.+?)\/(.+?)\/(.+?)\/(.+?)\/(.+)$/;

    const match = url.match(regex);
    if (!match) {
      throw new Error('Invalid Github URL');
    }
    const owner = match[1];
    const repo = match[2];
    const pagetype = match[3];
    const branch = match[4];
    const path = match[5];
    const apiUrl = `https://api.github.com/repos/${owner}/${repo}/contents/${path}`;
    console.log(`Pulling from ${apiUrl}`);
    const response = await fetch(apiUrl);
    if (!response.ok) {
      console.log('Failed to call Github REST url');
      throw new Error(`HTTP error! status: ${response.status}`);
    } else {
      const data = await response.json();
      // Convert the content from Base64 to a string
      const content = atob(data.content);
      return content;
    }
  }

  async function create_gist() {
    try {
      const content = await downloadFile(source_url);
      const response = await fetch('/gists', {
        method: 'POST',
        body: JSON.stringify({
          source_url,
          original: content,
          gist_content,
          description
        }),
        headers: {
          'content-type': 'application/json'
        }
      });
      const { id } = await response.json();
      goto(`/gists/${id}`);
    } catch (e) {
      error = e;
    }
  }
</script>

<svelte:head>
  <title>Create a gist</title>
</svelte:head>

<div class="grid gap-6">
  <div
    class="border-1 flex items-center rounded border-yellow-500 bg-yellow-200 pb-2 pl-4 pt-2 text-yellow-900"
  >
    <img src="/alert-circle.svg" class="svg-fill-warning mr-2 h-8 w-8 object-cover" />
    Only a single file from Github is currently supported.
  </div>
  <form class="grid gap-2">
    <div class="flex items-center">
      <label class="mr-2 whitespace-nowrap font-medium">Github file url:</label>
      <input
        class="focus:ring-primary-500 focus:border-primary-500 block w-full flex-grow rounded border-neutral-200 bg-white pb-2 pl-3 pt-2 text-sm shadow-sm dark:border-neutral-700 dark:bg-neutral-900"
        placeholder="https://github.com/Meptl/gistdiff/blob/main/README.md"
        type="text"
        bind:value={source_url}
      />
    </div>
    <input
      class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded border-neutral-200 bg-white pb-2 pl-3 pt-2 text-sm shadow-sm dark:border-neutral-700 dark:bg-neutral-900"
      placeholder="Gist description..."
      type="text"
      bind:value={description}
    />
  </form>
  <!-- TODO: Actual dark theme -->
  <div class="border-1 overflow-hidden rounded border-neutral-300 dark:border-neutral-900">
    <div class="min-h-64 bg-white dark:brightness-110 dark:invert">
      <CodeMirror theme={ayuLight} bind:value={gist_content} />
    </div>
  </div>
  <div class="flex items-center">
    <p class="flex-grow text-red-500">{error}</p>
    <button
      class="border-1 rounded border-green-700 bg-green-600 pb-2 pl-4 pr-4 pt-2 text-neutral-100 hover:bg-green-700"
      on:click={create_gist}>Create gist</button
    >
  </div>
</div>
