<script>
  import { darkMode } from '$lib/stores.js';

  function applyDarkMode() {
    $darkMode
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.remove('dark');
  }

  function setLightMode() {
    $darkMode = false;
    applyDarkMode();
  }

  function setDarkMode() {
    $darkMode = true;
    applyDarkMode();
  }
</script>

{#if $darkMode}
  <button on:click={setLightMode} title="Enter Light Mode">
    <img class="svg-fill-site-white mt-2 h-6 w-6" src="/moon.svg" alt="Moon" />
  </button>
{:else}
  <button on:click={setDarkMode} title="Enter Dark Mode">
    <img class="svg-fill-site-white mt-2 h-6 w-6" src="/sun.svg" alt="Sun" />
  </button>
{/if}
