<script>
  import DarkModeButton from './DarkModeButton.svelte';
</script>

<div class="min-h-full">
  <nav class="bg-neutral-800 dark:bg-neutral-900">
    <div class="mx-auto max-w-5xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-20 items-center justify-between">
        <div class="flex-shrink-0 items-center sm:flex">
          <a href="/">
            <img src="/logo.svg" class="svg-fill-site-white h-12 w-12" />
          </a>
        </div>
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <div
            class="ml-2 cursor-pointer items-center rounded-md px-3 py-2 hover:bg-neutral-600 dark:hover:bg-neutral-700"
          >
            <DarkModeButton />
          </div>
          <div
            class="ml-2 cursor-pointer items-center rounded-md px-3 py-2 hover:bg-neutral-600 dark:hover:bg-neutral-700"
          >
            <a href="https://gitlab.com/Meptl/gistdiff">
              <img src="/gitlab.svg" class="svg-fill-site-white h-8 w-8 object-cover" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
