<script>
  export let data;
  import CodeMirror from '$lib/CodeMirror.svelte';
  import { ayuLight } from 'thememirror';
  import { unifiedMergeView, updateOriginalDoc } from '@codemirror/merge';
  import { onMount } from 'svelte';

  let filename;

  onMount(() => {
    const url_elems = data.source_url.split('/');
    filename = url_elems[url_elems.length - 1];
  });
</script>

<svelte:head>
  <title>{data.description}</title>
</svelte:head>
<div class="grid gap-2">
  <div class="mb-4 flex">
    <p class="text-md mr-3">Source:</p>
    <a class="font-semibold text-blue-600 hover:underline" href={data.source_url}
      >{data.source_url}</a
    >
  </div>

  <p>
    {data.description}
  </p>

  <div class="border-1 overflow-hidden rounded border-neutral-300 dark:border-neutral-900">
    <div
      class="border-b-1 border-neutral-300 bg-neutral-200 pb-2 pl-4 pt-2 dark:border-neutral-600 dark:bg-neutral-900"
    >
      <a class="font-semibold text-blue-600 hover:underline" href={data.source_url}>{filename}</a>
    </div>
    <!-- TODO: Actual dark theme -->
    <div class="min-h-64 bg-white dark:brightness-110 dark:invert">
      <CodeMirror
        theme={ayuLight}
        value={data.gist_content}
        readonly={true}
        extensions={unifiedMergeView({ original: data.original, mergeControls: false })}
      />
    </div>
  </div>
</div>
