@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .svg-fill-site-white {
    /* https://codepen.io/sosuke/pen/Pjoqqp neutral-100 */
    filter: invert(95%) sepia(1%) saturate(1028%) hue-rotate(329deg) brightness(113%) contrast(92%);
  }

  .svg-fill-site-black {
    /* https://codepen.io/sosuke/pen/Pjoqqp neutral-800 */
    filter: invert(9%) sepia(0%) saturate(1%) hue-rotate(155deg) brightness(100%) contrast(86%);
  }

  .svg-fill-warning {
    filter: invert(23%) sepia(12%) saturate(6766%) hue-rotate(4deg) brightness(93%) contrast(86%);
  }

  .border-1 {
    border-width: 1px;
  }

  .border-b-1 {
    border-bottom-width: 1px;
  }
}
